
:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(251, 251, 251, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.react-flow__node-editable {
  height: fit-content !important;
}
body {
  margin: 0;
  box-sizing: border-box;
  /*display: flex;*/
  /*place-items: center;*/
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


.recording-button:focus,
.recording-button:focus-visible{
  outline: 2px solid #F08080;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
.react-flow {
  /* Custom Variables */
  --xy-theme-selected: #F57DBD;
  --xy-theme-hover: #C5C5C5;
  --xy-theme-edge-hover: black;
  --xy-theme-color-focus: #E8E8E8;

  /* Built-in Variables see https://reactflow.dev/learn/customization/theming */
  --xy-node-border-default: 1px solid #EDEDED;

  --xy-node-boxshadow-default: 
    0px 3.54px 4.55px 0px #00000005, 
    0px 3.54px 4.55px 0px #0000000D, 
    0px 0.51px 1.01px 0px #0000001A;

  --xy-node-border-radius-default: 5px;

  --xy-handle-background-color-default: #ffffff;
  --xy-handle-border-color-default: #AAAAAA;

  --xy-edge-label-color-default: #505050;
}

.react-flow__node-circle,
.react-flow__node-reminderCircle{
  color: #000000;
  border-radius: 8px; /* 改为小圆角 */
  display: flex;
  height: 30px;
  width: 60px;
  box-shadow:
          4px 2px 8px rgba(92, 92, 92, 0.3),
          -4px 2px 8px rgba(53, 53, 53, 0.3);
  font-family: monospace;
}

.react-flow__node-circle .wrapper,
.react-flow__node-reminderCircle .wrapper{
  overflow: hidden;
  display: flex;
  padding: 2px;
  position: relative;
  border-radius: 8px;
  flex-grow: 1;
}

.react-flow__node-circle .inner,
.react-flow__node-reminderCircle .inner{
  background: rgba(255, 255, 255, 0.5);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
  position: relative;
  text-align: center;
}

.react-flow__minimap .circle,
.react-flow__minimap .reminderCircle {
  rx: 100%;
  ry: 100%;
}
.react-flow__minimap .circle,
.react-flow__minimap .reminderCircle{
  fill: rgb(208, 192, 247);
}
